BODY{
    width: 1300px;
    margin: 70px, auto;
    font-size: auto;
    padding: 20px 50px;
}
img{
    float: left;
    margin: 3px 6px

}

h3{
    font-size:medium
}
p.space {
    line-height:150%;
} 
